@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center">
    <h2 style="background-color: rgb(92, 210, 159); padding:10px 10px; font-weight:100; color:rgb(255, 255, 255);">Βιβλιοπωλεία SuperTeam</h2>
    <p>Καλωσήρθατε στην επίσημη ιστοσελίδα μας!</p>


    <div class="container">
        <div>
            <img height="350" width="1000" alt="BookStore" src="~/Content/images/bookstore.jpg" />
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2 style="background-color: rgb(92, 210, 159); padding:10px 10px; font-weight:100; color:rgb(255, 255, 255);">Συγγραφείς</h2>
                <p>Μπορείτε πλέον με ένα κλικ να δείτε τους συγγραφείς των οποίων τα έργα υπάρχουν στα καταστήματα μας.</p>
                <p><a class="btn btn-success" href="/authors">Μάθε περισσότερα</a></p>
            </div>
            <div class="col-sm-4">
                <h2 style="background-color: rgb(92, 210, 159); padding:10px 10px; font-weight:100; color:rgb(255, 255, 255);">Βιβλία</h2>
                <p>Δείτε το σύνολο των βιβλίων που υπάρχουν σε κάθε κατάστημα, απο την οθόνη του υπολογιστή σας.</p>
                <p><a class="btn btn-success" href="/titles">Μάθε περισσότερα</a></p>
            </div>
            <div class="col-sm-4">
                <h2 style="background-color: rgb(92, 210, 159); padding:10px 10px; font-weight:100; color:rgb(255, 255, 255);">Πωλήσεις</h2>
                <p>Δεν ξέρετε τι να επιλέξετε; Δείτε τις πωλήσεις κάθε βιβλίου και βεβαιωθείτε για την αξία του περιεχομένου του.</p>
                <p><a class="btn btn-success" href="/sales">Μάθε περισσότερα</a></p>
            </div>
        </div>
    </div>
</div>
