@model List<mvc_project2k18.Models.topSalesInSpecificTime>
@{
    ViewBag.Title = "Περισσότερες Πωλήσεις σε κάποιο διάστημα";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    .list-group-item:nth-child(2n+1) {
        background-color: #a7a874;
    }

    .list-group-item1 {
        background-color: #28b374;
        font-weight: 900;
        color: rgb(255, 255, 255);
        margin-bottom: 5px;
    }

    .list-group-item {
        padding: 5px 15px;
    }

  
</style>

<div class="row">
    <div class="col-12" style="text-align:center;">
        <h2>Αναζήτηση : Συγγραφείς με περισσότερες πωλήσεις σε χρονικό διάστημα</h2>
    </div>

    <div class="contain">
        <div class="row">
            <div class="col-lg-12 col-m-12 text-center">
                <form asp-controller="search1" asp-action="Index" method="post">
                    ΑΡΙΘΜΟΣ ΑΠΟΤΕΛΕΣΜΑΤΩΝ: <input type="text" name="SearchString">
                    Από: <input type="date" name="date1">
                    Eως: <input type="date" name="date2">
                    <input type="submit" value="Αναζήτηση" />
                </form>
            </div>

            <div class="col-lg-12 col-m-12" style="margin-top:10px;">
                
                <div class="row list-group-item list-group-item1">
                    <div class="col-lg-6 col-md-6 col-sm-6">ΟΝΟΜΑΤΑ</div><div class="col-lg-6 col-md-6 col-sm-6">ΧΡΗΜΑΤΑ ΠΩΛΗΣΕΩΝ</div>
                </div>

                @foreach (var row in Model)
                {
                    <div class="row list-group-item">
                        <div class="col-lg-6 col-md-6 col-sm-6">@row.name @row.sname</div><div class="col-lg-6 col-md-6 col-sm-6">@row.total</div>
                    </div>
                }

            </div>

        </div>
    </div>

</div>

